.cache/
.dap-breakpoints
.org-id-locations
abbrev_defs
auto-save-list/
bookmarks
custom.el
eln-cache/
elpa/
elpaca/
emms/
eshell/
forge-database*.sqlite
network-security.data
nov-places
org-clock-save.el
org-roam.db
projectile-bookmarks.eld
projects
recentf
tramp
transient/
tree-sitter/
url/
var/
vimacs.app-config.el