.cache/
.dap-breakpoints
abbrev_defs
auto-save-list/
custom.el
eln-cache/
elpa/
emms/
eshell/
forge-database*.sqlite
network-security.data
org-clock-save.el
projectile-bookmarks.eld
projects
recentf
tramp
transient/
tree-sitter/
url/
var/
vimacs.app-config.el