$bg-main: #141617;
$bg-dim: #1e1e1e;
$fg-main: #ffffff;
$border: #646464;
$fg-link: #79a8ff;
$fg-link-visited: #feacd0;

html {
    background: $bg-dim;
    color: $fg-main;
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 42em;
}
header {
    border: 1px solid $border;
    border-radius: 0.5em;
    padding: 0.6em;
    margin: 0.6em;
    background: $bg-main;
}
nav {
    min-height: 10em;
    width: 9em;
    border: 1px solid $border;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    float: left;
    background: $bg-main;
    h1, h2, h3, h4, h5, h6 {
        font-variant: small-caps;
    }
    hr {
        color: $border;
        background: $bg-main;
        border-color: $border;
        border-width: 1px 0px 0px 0px;
        width: calc(100% + 0.6em);
        margin-left: -0.3em;
        margin-right: -0.3em;
    }
    ul {
        list-style: none;
        padding: 0;
        a {
            color: $fg-main;
            background: $bg-main;
            text-decoration: none;
            text-align: center;
            border: 1px solid $border;
            border-radius: 0.125em;
            padding: 0.25em;
            margin: 0.25em;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }
        li {
            display: inline;
        }
    }
}
footer {
    border: 1px solid $border;
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0.6em;
    clear: both;
    background: $bg-main;
    .icon {
        position: relative;
        top: 0.1em;
    }
}
main {
    color: $fg-main;
    background: $bg-main;
    border: 1px solid $border;
    border-radius: 0.5em;
    max-width: 28.5em;
    padding: 0.6em;
    margin: 0.6em;
    float: right;
}
.byline {
    display: block;
    &.date {
        float: left;
        padding-right: 1.25em;
    }
    &.author {
        float: right;
        padding-left: 1.25em;
    }
}
a {
    color: $fg-link;
    &:visited {
        color: $fg-link-visited;
    }
}
img {
    max-width: 100%;
}
